<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <title>add-shoes</title>
</head>

<body>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/"><h3><em>ShoeKart</em></h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="/addshoes">Add Shoes</a>
            </li>
          </ul>
        
          <form class="form-inline my-2 my-lg-0" action="/searchShoes" method="POST">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="sname">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        
      </nav>

    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-2"></div>
                <div class="col col-12 col-sm-8">
                    <br><br><br>
                    <h2 class="text-center"> Add Shoes</h2>
                    <br>
                    
                    <form action="/saveShoes" method="POST">
                        <table class="table table-borderless">
                            <tr>
                                <td>Name:</td>
                                <td><input type="text" class="form-control" name="uname"></td>
                            </tr>
                            <tr>
                                <td>Price:</td>
                                <td><input type="text" class="form-control" name="uprice"></td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td><input type="text" class="form-control" name="udes"></td>
                            </tr>
                            
                            <tr>
                                <td>Img src:</td>
                                <td><input type="text" class="form-control" name="usrc"></td>
                            </tr>
                            
                            <tr>
                                <td>Feedback 1:</td>
                                <td><input type="text" class="form-control" name="ufb1"></td>
                            </tr>
                            <tr>
                                <td>Feedback 2:</td>
                                <td><input type="text" class="form-control" name="ufb2"></td>
                            </tr>
                            <tr>
                                <td>Feedback 1:</td>
                                <td><input type="text" class="form-control" name="ufb3"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button class="btn btn-success type=submit">SAVE</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="col col-12 col-sm-2"></div>
            </div>
        </div>
    </div>
</body>
</html>