<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    </style>
    <title>index</title>
</head>
<body>
<h1>Index</h1>

<!--<div class="container-fluid mt-4">-->
<div class="container">
    <!--<div class="row">-->
    <div class="row justify-content-center">
        <% for(var i = 0; i < shoes.length; i++){ %>
            <div class="col-auto mb-3"> 
                <div class="card" style="width: 18rem; height: 26rem">
                    <div class="card card-block d-flex" style="height: 250px; border: 0">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <img class="card-img-bottom " src = "<%= shoes[i].src %>" alt="Card image cap" style="width: 250px; height: 250 px; border:0;"/>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><%= shoes[i].name %></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= shoes[i].price %></h6>
                        <a href="#" class="btn btn-info">Buy now</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>

</body>
</html>